<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>flex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
<div class="app-wrap">
  <header class="app-header">
    <a href="" class="button">
      <i class="fa fa-arrow-left"></i>
      Back
    </a>
    <h1>Peter's Corner</h1>
    <a href="" class="button">
      <i class="fa fa-cog"></i>
    </a>
  </header>
  <div class="content">
    <%= contents %>
  </div>
  <div class="app-footer">
    <a href="index.html">
      <i class="fa fa-home"></i>
      Home
    </a>
    <a href="blog.html">
      <i class="fa fa-book"></i>
      Blog
    </a>
    <a href="work.html">
      <i class="fa fa-diamond"></i>
      Work
    </a>
    <a href="about.html">
      <i class="fa fa-user"></i>
      Me
    </a>
  </div>
</div>
</body>
</html>
