.course {
  margin: 0 auto;
  padding: 16px;
  .card {
    transition: all 450ms ease;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    text-align: center;
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    img {
      max-width: 100%;
      margin: 0 auto;
      border: 1px solid #eee;
    }
    .text {
      margin-top: 15px;
      margin-bottom: 15px;
      word-wrap: break-word;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0 1px 12px rgba(0, 0, 0, 0.12), 0 1px 8px rgba(0, 0, 0, 0.24);
    }
  }
}

@media (min-width: 1000px) {
  .course {
    display: flex;
    flex-wrap: wrap;
    .card {
      margin: 20px;
      width: calc(50% - 40px);
    }
  }
}

@media (min-width: 1200px) {
  .course {
    .card {
      width: calc(33.33333% - 40px);
    }
  }
}
