<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="style/main.css">
</head>
<body>

<div class="app-wrap">
  <header class="app-header"></header>

  <div class="content">
    <p>要做出一个东西来的冲动，我觉得首先是一种情怀，一种渴望用手工而不是说话的形式跟他人交流的愿望。 比如你喜欢画漫画，想要搭建一个小网站来和他人分享你的作品，那就首先写几个 Html 页面。这样，你学了什么是编辑器，浏览器，文件后缀，这些概念，你可能最初觉得这些概念本身没什么意思，但是东西出来了，你就很幸福，有进一步学下去的兴趣了。</p>
    <p>要做出一个东西来的冲动，我觉得首先是一种情怀，一种渴望用手工而不是说话的形式跟他人交流的愿望。 比如你喜欢画漫画，想要搭建一个小网站来和他人分享你的作品，那就首先写几个 Html 页面。这样，你学了什么是编辑器，浏览器，文件后缀，这些概念，你可能最初觉得这些概念本身没什么意思，但是东西出来了，你就很幸福，有进一步学下去的兴趣了。</p>
    <p>要做出一个东西来的冲动，我觉得首先是一种情怀，一种渴望用手工而不是说话的形式跟他人交流的愿望。 比如你喜欢画漫画，想要搭建一个小网站来和他人分享你的作品，那就首先写几个 Html 页面。这样，你学了什么是编辑器，浏览器，文件后缀，这些概念，你可能最初觉得这些概念本身没什么意思，但是东西出来了，你就很幸福，有进一步学下去的兴趣了。</p>
    <p>要做出一个东西来的冲动，我觉得首先是一种情怀，一种渴望用手工而不是说话的形式跟他人交流的愿望。 比如你喜欢画漫画，想要搭建一个小网站来和他人分享你的作品，那就首先写几个 Html 页面。这样，你学了什么是编辑器，浏览器，文件后缀，这些概念，你可能最初觉得这些概念本身没什么意思，但是东西出来了，你就很幸福，有进一步学下去的兴趣了。</p>    <p>要做出一个东西来的冲动，我觉得首先是一种情怀，一种渴望用手工而不是说话的形式跟他人交流的愿望。 比如你喜欢画漫画，想要搭建一个小网站来和他人分享你的作品，那就首先写几个 Html 页面。这样，你学了什么是编辑器，浏览器，文件后缀，这些概念，你可能最初觉得这些概念本身没什么意思，但是东西出来了，你就很幸福，有进一步学下去的兴趣了。</p>
  </div>

  <div class="app-footer"></div>
</div>
</body>
</html>
